{% extends "base.html" %}
{% block content %}
<form method="post">
  <div class="mb-3">
    <div class="text-center my-4">
    <img src="{{ url_for('static', filename='bees.gif') }}" alt="Bee loading..." style="width: 250px;" class="img-fluid rounded">
    <h3 class="mt-3">Upload a file to chat with it </h3>
</div>

    <label class="form-label">Select a document from your local folder:</label>
    <select class="form-select" name="filename" required>
      {% for file in files %}
      <option value="{{ file }}">{{ file }}</option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-warning" type="submit">Load Document</button>
</form>
{% endblock %}
